@font-face {
  font-family: Outfit;
  src: url("assets/fonts/outfit_light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Outfit;
  src: url("assets/fonts/outfit_medium.ttf");
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #1a150a;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: transparent;
  box-shadow: 0 -5px 40px 7px #00000015;
  max-width: 600px;
  width: 100%;
  margin: 3em 0 2em;
}

.name {
  font-size: 2.5em;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em 0;
  background: #ffd662;
  padding: 2.5em 0;
}

.profile-pic {
  width: 22%;
  min-width: 120px;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  position: relative;
  background: url("assets/images/profile-photo.png");
  background-size: cover;
  box-shadow: 0 12px 30px 0 #00000050;
}

.name {
  padding-top: 0.25em;
  font-weight: 500;
}

.ctas {
  padding-top: 1em;
  width: 100%;
  display: flex;
  background: #ffd662;
}

.cta {
  width: 100%;
  padding: 1em;
  background: transparent;
  border: none;
  outline: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  transition: background 0.2s;
}

.cta:hover {
  background: #1a150a1c;
}

.icon {
  width: 24px;
  aspect-ratio: 1;
}

.info-list {
  margin: 1.5em 0;
  list-style: none;
}

.item {
  display: flex;
  padding: 1.5em 2em;
  transition: background 0.2s;
}

.item:hover {
  background: #1a150a08;
}

.item-icon {
  opacity: 0.4;
}

.item-info {
  padding: 0 2em;
}

.item-text {
  color: #000;
  padding-bottom: 0.35em;
}

.item-link {
  color: #7b62ff;
  padding-bottom: 0.35em;
}

.item-helper {
  color: rgba(0, 0, 0, 0.6);
}

.social-media {
  width: 30%;
  padding: 0 0 2em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 0 1em;
}

.social-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-img {
  width: 50px;
  transition: all 0.3s;
}

.social-img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 550px) {
  main {
    box-shadow: none;
    margin: 0;
  }

  .cta:hover {
    background: none;
  }
}
