:root {
  --my-accent-color: #1aafd4;
  --my-text-color: #001412;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: var(--my-text-color);
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E6FAF7;
}

main {
  background: transparent;
  box-shadow: 0 -5px 40px 7px #00000015;
  max-width: 600px;
  width: 100%;
  margin: 3em 0 2em;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em 0;
  background: var(--my-accent-color);
  padding: 2.5em 0;
  text-align: center;
}

.profile-pic {
  width: 22%;
  min-width: 120px;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  position: relative;
  background-size: cover;
  box-shadow: 0 12px 30px 0 #00000050;
}

.name {
  padding-block: 0.25em;
  font-weight: 500;
  font-size: 2.5em;
}

.description {
  width: 80%;
  font-size: 0.9;
  line-height: 1.2;
}

.desc-tag {
  margin-block: 1em;
}

.tag {
  padding: 0.5em 0.75em;
  border: 1px solid #000;
  border-radius: 2em;
}

.ctas {
  width: 100%;
  display: flex;
  background: var(--my-accent-color);
}

.cta {
  width: 100%;
  padding: 1em;
  background: transparent;
  border: none;
  outline: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  transition: background 0.2s;
}

.cta:hover {
  background: #1a150a1c;
}

.icon {
  width: 24px;
  aspect-ratio: 1;
}

.info-list {
  margin: 1.5em 0;
  list-style: none;
}

.item {
  display: flex;
  padding: 1.5em 2em;
  transition: background 0.2s;
  align-items: center;
}

.item:hover {
  background: #1a150a08;
}

.item-icon {
  opacity: 0.4;
}

.item-info {
  padding: 0 2em;
}

.item-text {
  padding-bottom: 0.35em;
}

.item-link {
  color: #6148df;
  padding-bottom: 0.35em;
}

.item-helper {
  opacity: 0.6;
}

.social-media {
  width: 30%;
  padding: 0 0 2em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 0 1em;
}

.social-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-img {
  width: 50px;
  transition: all 0.3s;
}

.social-img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 550px) {
  main {
    box-shadow: none;
    margin: 0;
  }

  .cta:hover,
  .social-img:hover,
  .item:hover {
    background: none;
    transform: scale(1);
  }
}